@font-face {
    font-family: "norse-bold";
    src: url("fonts/Norse-Bold.otf") format("opentype");
}

body {
    display: flex;
    padding: 0;
    margin: 0;
}

.left-screen {
    flex: 1;

    background-image: url("images/background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
}

.logo-box {
    background-color: rgba(0, 0, 0, 50%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.left-screen div:empty {
    flex: 1;
}

.odin-logo {
    height: 70px;
    width: auto;
}

.odin-name {
    font-family: "norse-bold", sans-serif;
    color: white;
    opacity: 100%;
    font-size: 56px;
}

.right-screen {
    flex: 2;
}